@import "tailwindcss";

@font-face {
  font-family: "Mokgech";
  src: url("./assets/fonts/Mokgech.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Capture It */
@font-face {
  font-family: "CaptureIt";
  src: url("./assets/fonts/Capture.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-body: "Karma", serif;
  --font-heading: "Mokgech", serif;
  --font-accent: "CaptureIt", sans-serif;
}

body {
  cursor: url('https://res.cloudinary.com/dooekcvv0/image/upload/v1770994858/c4g0mn7qhpc6h0qwszsk.png') 16 16, auto; 
}





@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

